.holder {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  margin-top: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
